%form{ :action => '/upload', :method => 'post', :enctype => "multipart/form-data" }
  .choose-picture
    %label.title{ :for => 'choose-picture' } Escolha a sua foto
    %input#choose-picture{ :type => 'file', :name => 'photo'}
    #editor-canvas
      #banner
      #picture
  .color-picker
    %h2.title Escolha a sua mensagem
    .controls
      %label.pink.active
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'message1', :checked => 'checked' }
        Green/Pink
      %label.purple
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'message2' }
        Green/Purple
      %label.orange
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'message3' }
        Green/Orange
      %label.round-pink
        %input{ :type => 'radio', :name => 'color_scheme', :value => 'message4' }
        Round/Pink
  .generate
    %button.btn.btn-primary.btn-large{ :type => 'submit' } Enviar!
%script{ :type => 'text/javascript', :src => '/javascripts/picture-loader.js' }
