!!!
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  %title Change brazil!
  %meta{:content => "", :name => "keywords"}
  %meta{:content => "", :name => "description"}
  / css
  %link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}
  %link{:href => "/stylesheets/bootstrap-responsive.css", :rel => "stylesheet"}
  %link{:href => "/stylesheets/sequence.css", :rel => "stylesheet"}
  %link{:href => "/stylesheets/theme.css", :rel => "stylesheet"}
  %link{:href => '/stylesheets/styles.css', :rel => 'stylesheet' }
  / Favicon
  %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
  / js
  %script{:src => "/javascripts/jquery.min.js"}
  %script{:src => "/javascripts/bootstrap.js"}
  %script{:src => "/javascripts/jquery.prettyPhoto.js"}
  %script{:src => "/javascripts/sequence.jquery.js"}
  %script{:src => "/javascripts/jquery-hover-effect.js"}
  %script{:src => "/javascripts/custom.js"}
  :javascript
    jQuery(function() {
      jQuery('ul.da-thumbs > li').hoverdir();
    });
%body
  .main-wrap
    %header
      .top-nav
        .wrapper
          .logo
            %a{:href => "/"}
            %h1 Change Brazil!
    %section#intro
      .featured
        .wrapper
          .row-fluid
            / slider
            .span12
              #sequence-theme
                #sequence
                  %img.prev{:alt => "Anterior", :src => "/images/slides/bt-prev.png"}
                  %img.next{:alt => "Próximo", :src => "/images/slides/bt-next.png"}
                  %ul
                    %li.animate-in
                      %h2.title Vamos mudar o brasil! 
                      %h5.subtitle 
                      %img.model{:alt => "", :src => random_photo_url1 }
                    %li
                      %h2.title Vem pra rua!
                      %h5.subtitle 
                      %img.model{:alt => "", :src => random_photo_url2 }
                    %li
                      %h2.title O gigante acordou!
                      %h5.subtitle 
                      %img.model{:alt => "", :src => random_photo_url3 }
    %section#main-content
      .content-wrap
        .tagline
          .wrapper
            .image-editor= yield
    %section#bottom
      .bottom-cta
        .wrapper
          %a.btn.btn-red.btn-large{:href => "http://www.flickr.com/slideShow/index.gne?user_id=97874346@N07"} Veja todas as fotos!
    %footer
      .footer
        .wrapper
          .subfooter
            %p.copyright © 2013 Change brazil
            %a{:href => "https://github.com/paulononaka/changebrazil-web"}
              %h1 Contribua - github
